extends ../layout
include ../mixins/post-card

block content
  .page-header
    h3 Posts page

  .container
    .row
      .col-sm-8.col-sm-offset-2
        each p in posts
          +postCard(baseUrl, p)
