extends ../layout
include ../mixins/post-card

block content
  .page-header
    h3
      | #{username}

  .container
    .row
      .col-sm-8.col-sm-offset-2
        if posts
          each p in posts
            +postCard(baseUrl, p)
